# ------------------------------------------------------------------------
# NRPE (Nagios Remote Plugin Executer)
# ------------------------------------------------------------------------
service nrpe
{
        flags                   = REUSE
        socket_type             = stream
        wait                    = no
        user                    = nagios
        group                   = nagios
        server                  = /usr/local/nagios/bin/nrpe
        server_args             = -c /usr/local/nagios/etc/nrpe.cfg --inetd
        log_on_failure          += USERID
        disable                 = no
        only_from               = 127.0.0.1 localhost {{ nagios_server_addr }}
}