{%raw%}<?xml version="1.0" encoding="utf-8"?>
<service>
  <short>NRPE</short>
  <description>NRPE (or Nagios Remote Plugin Executor) allows the master nagios server to query for the status of any remote hosts. </description>
  <port protocol="tcp" port="5666"/>
</service>{%endraw%}